.chart{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 8px 16px 2px #ddd;
    -moz-box-shadow: 4px 8px 16px 2px #ddd;
    box-shadow: 4px 8px 16px 2px #ddd;
}